@use "./base.scss";
@use "./themes";
/* Custom global styles */
@use "code/pretty-code";

// put your custom CSS here!
/* Ocultar el botón de Dark Mode */
.darkmode {
  display: none !important;
}

/* Forzar experiencia en tema claro */
:root {
  color-scheme: light;
}

html[saved-theme="dark"] body {
  filter: none;
}
